
/* -------------------------------- 
Dropdown 2 (homepage) - START
-------------------------------- */


.wrapperwrapper2 {
	position:static;
	margin-top: 5rem;
	padding-top: calc(10vh);
	width:calc(98vw);
	margin-left:calc(1vw);
	text-align: center!important;
}

.dropdown2 dd ul li a span:first-child, .dropdown2 dt a span span:first-child {
	background-image: url('../img/flags/all.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
	display: inline-block;
	margin:5px;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
}


.dropdown2 dd, .dropdown2 dt, .dropdown2 ul {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.dropdown2 dt a span {
	cursor: pointer;
	display: block;
	padding: 5px;
	white-space: nowrap;
}
.dropdown2 dt a img {
	position: relative;
	z-index: 1;
}
.dropdown2 dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown2 dt a span span {
	display: inline-block;
	padding: 0;
	
}
.dropdown2 dt a span span:first-child {
	padding: 0;
}
.dropdown2 dd {
	position: relative;
}
.dropdown2 a, .dropdown2 a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
	text-align:left;
}

.dropdown2 a:hover {
	color: #5d4617;

}
.dropdown2 dt a:hover, .dropdown2 dt a:focus {
	color: #5d4617;
}
.dropdown2 dt a {
	position: relative;
	background: #e3e6ef;
	display: block;
	padding-right: 20px;
	overflow: hidden;
	border:1px solid #343A40;
	border-radius: 5px; 
	width:250px;
}


.dropdown2 dd ul {
	background: #f0f2f7;
	color: #C5C0B0;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	width: 250px;
	border:1px solid #343A40;
	list-style: none;
	max-height: 100px;
	overflow-y: scroll;
	z-index: 2;
}


.dropdown2 dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
 border-left:1px solid rgba(0,0,0,0.1);
}

.dropdown2 dd ul::-webkit-scrollbar-thumb {
 background: rgba(0,0,0,0.4);
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.dropdown2 dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
}
.dropdown2 span.value {
	display: none;
}
.dropdown2 dd ul li a {
	padding: 5px;
	display: block;
	font-size: 12px !important;
}
.dropdown2 dd ul li a:hover {
	background-color: rgba(0,0,0,0.05);
	
}
dl.dropdown2 {
	display: inline-block;
	width: 240px;
	margin: -3px 0 0 1px;
	
}

dl.dropdown2 > span:nth-child(3) {

	color: rgba(0,0,0,0.4)
}


dl.dropdown2 dt span:nth-child(3) {
	display: none;
}


dl.dropdown2 > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

dl.dropdown2 dt span:nth-child(2) {
	color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6em;
	
}


.countryFlag {
	padding: 0;
	background-image: url("https://i.imgur.com/OQiDoZe.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	width: 16px;
	cursor: pointer;
	white-space: nowrap;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BFBFC1 #B6B6B6 #969696;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

dl.dropdown2>img {
display:hidden;
display:none;
}

.dropdown2 dt a:after {
	content: '';
	background: #343A40;
	position: absolute;
	height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;	
}

.dropdown2 dt a:before {
	background: none repeat scroll 0 0 #FFFFFF;
    content: "";
    height: 3px;
    position: absolute;
    right: 7px;
    top: 6px;
    width: 20px;
    z-index: 2;
	box-shadow:0 8px 0 #FFFFFF, 0 16px 0 #FFFFFF;
}


/* -------------------------------- 
Dropdown 2 (homepage) - STOP
-------------------------------- */