/*  2018 Copyright - WaveOS
                 ..                   
..   ..          ..   ........                     .........     .......     ........                      .........    ......................
..   ...           ..  ........                   .........     .........     ........                    .........    ......................
 .......         .....  ........                 .........     ...........     ........                  .........    ......................
 .......       ........  ........               .........     .............     ........                .........    ......................
 .......       ...        ........             .........     ...............     ........              .........    .......
  ......       ........   .........           .........     ........   ......     ........            .........    .......
  ......       .......   ...........         .........     ........     ......     ........          .........    .................
   .....        .....   .............       .........     .......    .   ......     ........        .........    .................
   .........    ....   ...............     .........     .......   .....  ......     ........      .........    .................
    .......... . ..   ......   ........   .........     .........................     ........    .........    .................
       ......... .   ......     ..................     ........     ...     ......     ...................    ........
        .........   ......       ................     ........       .       ......     .................    ........
          ......   ......         ..............     ........                 ......     ...............    ...........................
            ...   ......           ............     ........                   ......     .............    ...........................
             .   ......             ..........     ........                     ......     ...........    ........................... 

                        
						 ............................................................................................
						           WaveOS by Unclehowell -  Make it Wave Ltd 2018  - All Rights Reserved 
					     ............................................................................................ 
                             GitHub:https://github.com/unclehowell/WaveOS -  Website:https://makeitwave.com
					     ..........................................................................................   */

/*  Classes:    
				 A. .container {}
				 B. .appstore-img-button-play {}
				 C. .appstore-img-button-apple {}
				 D. .payment-button-img-paypal {}
				 E. .payment-button-img-stripe {}
				 F. .button-text-paypal {}
				 G. .button-text-stripe {} 
				 H. .carousel-maintitle {}
				 I. .carousel-maintitle-link {}
				 J. .carousel-title-link:hover {}
				 K. .carousel-subtitle  {}
				 L. .button-block {}
				 M. .button-block-left {}
				 N. .button-block-right {}
				 O. .tick-box-holder {}
				 P. .tick-box {}
				 
				 */
	  
/* 	Structure:  01. .class-1 {}  .class-2 {} ... etc

				02. @media all and (min-width:1024px) 							 {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:960px) and (max-width:1123px) 	 {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:960px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:768px) and (max-width:959px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				07. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				08. @media all and (min-width:480px) and (max-width:767px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				09. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				10. 			       	  @media all and (max-width:479px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				11. 					  @media all and (max-width:479px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}     */

/* 01:> */ 

.container {left:calc(10vw); padding-right:calc(10vw); padding-left: 15px; padding-right: 15px; padding-top: 15px; bottom:-50px;}
.carousel-maintitle {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter!important; color:white; opacity:1; margin-bottom:0.6rem; font-size:1.25rem;}
.carousel-maintitle-link {opacity: 1; color:white; text-decoration:none; letter-spacing:0.03rem; text-decoration:none; font-weight:lighter;}
.carousel-maintitle-link:hover {color:white; text-decoration:none; font-weight:lighter;}
.carousel-title {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter; color:#61CFF7; opacity:1; font-size:1rem;}
.carousel-title-link {opacity: 1; color:#61CFF7; text-decoration:none; letter-spacing:0.03rem;}
.carousel-title-link:hover {color:#A0E1FA; text-decoration:none;}
.carousel-subtitle {text-indent: 0px; display:inline-block!important; color: #CCCCCC; text-indent: 0px; font-weight:lighter!important; font-size:1rem;}
.carousel-item {height: 32rem;}

.appstore-img-button-play { background-image:url('../img/google-play-66442243.svg'); background-repeat: no-repeat; background-position: 0px 0px; display: inline-block; background-color: transparent; padding-left: 0px; margin-top: 0px; height:42px; width: 110px; float: left;}
.appstore-img-button-apple {background-image:url('../img/app-store-1f36bbd8.svg'); background-repeat: no-repeat; background-position: 0px 0px; display: block; background-color: transparent; padding-left: 0px; margin-top: -1px; margin-left: 10px; height:42px; width: 110px; float: left;}
.payment-button-img-paypal {background-image:url('../img/paypal-logo.png'); background-repeat: no-repeat; background-position: 3px 2.5px; background-size: 82px auto; margin-left: 10px; display:inline-block!important; border: 0.05rem solid white; background-color: transparent; border-radius:4px 4px 4px 4px; width: 110px; height: 32px;}
.button-text-paypal {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter!important; color: white; letter-spacing:1px; text-align:left; margin-left:40px; font-size: 1rem; margin-top:3px; float:left;}
.payment-button-img-stripe {background-image:url('../img/stripe-logo.png'); background-repeat: no-repeat; background-position: 3px 2.5px; background-size: 82px auto; display:inline-block!important; margin-left: 2.5px; border-left: 0.2rem solid #343A40; border: 0.05rem solid white; background-color:transparent!Important; border-radius:4px 4px 4px 4px; cursor: pointer; width: 110px; height: 32px;}
.button-text-stripe {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter!important; color: white; letter-spacing:1px; text-align:left; margin-left:40px; font-size: 1rem; margin-top:-2.5px; float:left;}
.button-block {display:inline-block; overflow:visible!important; height: 50px; width:380px; letter-spacing:30px; position:static; padding-top: 1.25rem; padding-bottom: 4rem!important;}
.button-block-left {margin-left: 0px; float: left;}
.button-block-right {margin-left: 0px; float: left;}

.tick-box-holder {text-decoration: underline; color: #CCCCCC;}
.tick-box {opacity:0.6; background-color: transparent; border:2px solid white; border-radius:4px; width:18px; height:18px; display:inline-block;}

.moreinfo {padding-bottom:3px; opacity:0.8; margin-left:9px; width:1.25rem; height:auto; cursor: pointer;}