/*  2018 Copyright - WaveOS
                 ..                   
..   ..          ..   ........                     .........     .......     ........                      .........    ......................
..   ...           ..  ........                   .........     .........     ........                    .........    ......................
 .......         .....  ........                 .........     ...........     ........                  .........    ......................
 .......       ........  ........               .........     .............     ........                .........    ......................
 .......       ...        ........             .........     ...............     ........              .........    .......
  ......       ........   .........           .........     ........   ......     ........            .........    .......
  ......       .......   ...........         .........     ........     ......     ........          .........    .................
   .....        .....   .............       .........     .......    .   ......     ........        .........    .................
   .........    ....   ...............     .........     .......   .....  ......     ........      .........    .................
    .......... . ..   ......   ........   .........     .........................     ........    .........    .................
       ......... .   ......     ..................     ........     ...     ......     ...................    ........
        .........   ......       ................     ........       .       ......     .................    ........
          ......   ......         ..............     ........                 ......     ...............    ...........................
            ...   ......           ............     ........                   ......     .............    ...........................
             .   ......             ..........     ........                     ......     ...........    ........................... 

                        
						 ............................................................................................
						           WaveOS by Unclehowell -  Make it Wave Ltd 2018  - All Rights Reserved 
					     ............................................................................................ 
                             GitHub:https://github.com/unclehowell/WaveOS -  Website:https://makeitwave.com
					     ..........................................................................................   */

/*  Classes:    
				 A. .container {}
				 B. .appstore-img-button-play {}
				 C. .appstore-img-button-apple {}
				 D. .payment-button-img-paypal {}
				 E. .payment-button-img-stripe {}
				 F. .button-text-paypal {}
				 G. .button-text-stripe {} 
				 H. .carousel-maintitle {}
				 I. .carousel-maintitle-link {}
				 J. .carousel-title-link:hover {}
				 K. .carousel-subtitle  {}
				 L. .button-block {}
				 M. .button-block-left {}
				 N. .button-block-right {}
				 O. .tick-box-holder {}
				 P. .tick-box {}
				 
				 */
	  
/* 	Structure:  01. .class-1 {}  .class-2 {} ... etc

				02. @media all and (min-width:1024px) 							 {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:960px) and (max-width:1123px) 	 {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:960px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:768px) and (max-width:959px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				07. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				08. @media all and (min-width:480px) and (max-width:767px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				09. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				10. 			       	  @media all and (max-width:479px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				11. 					  @media all and (max-width:479px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}     */

/* 01:> */ 

.container {left:calc(10vw); padding-right:calc(10vw); padding-left: 15px; padding-right: 15px; padding-top: 15px; bottom:-50px;}
.wrapperwrapper {position:static; text-align: left!important;}
.carousel-maintitle {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter!important; color:white; opacity:1; margin-bottom:0.6rem; font-size:1.25rem;}
.carousel-maintitle-link {opacity: 1; color:white; text-decoration:none; letter-spacing:0.03rem; text-decoration:none; font-weight:lighter;}
.carousel-maintitle-link:hover {color:white; text-decoration:none; font-weight:lighter;}
.carousel-title {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter; color:#61CFF7; opacity:1; font-size:1rem;}
.carousel-title-link {opacity: 1; color:#61CFF7; text-decoration:none; letter-spacing:0.03rem;}
.carousel-title-link:hover {color:#A0E1FA; text-decoration:none;}
.carousel-subtitle {text-indent: 0px; display:inline-block!important; color: #CCCCCC; text-indent: 0px; font-weight:lighter!important; font-size:1rem;}
.carousel-item {height: 32rem;}
.carousel-dropdown dd, .carousel-dropdown dt, .carousel-dropdown ul {margin: 0px; padding: 0px; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}
.carousel-dropdown dt a span {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; overflow:hidden; content: ''; cursor: pointer; letter-spacing:0.01rem; display: block; min-height: 40px; max-height: 40px; font-size: 1.15rem; padding-left:66px; padding-top: 4px; font-weight: lighter; color: white; overflow: hidden; border-right: 1px solid transparent; text-align:left; line-height:1.35rem;}
.features-text {position:absolute; float:left; left:0; margin-top:-3px!important; margin-left:-1px!important;}
.carousel-dropdown dt a img {position: relative; z-index: 1;}
.carousel-dropdown dt a span span:first-child:before {padding: 0; width: 0px; height: 0px; display: hidden; color: transparent; background-color: transparent; border: 1px solid transparent; visibility: hidden;}
.carousel-dropdown dt a span span:first-child {padding: 0; width:3px; height:1px; visibility: hidden;}
.carousel-dropdown dd {position: relative;}
.carousel-dropdown a, .carousel-dropdown a:visited {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight:lighter; color: #4a535f; text-decoration: none; outline: none; text-align: left; line-height: 2.5rem; letter-spacing: 1px;}
.carousel-dropdown a:hover {color: #5d4617;}
.carousel-dropdown dt a:hover, .carousel-dropdown dt a:focus {color: #5d4617;}
.carousel-dropdown dt a {position: relative; background: transparent; display: block; padding-right: 10px; overflow: hidden; border:1px solid white; border-radius: 7px; max-width:230px; max-height: 35px;}
.carousel-dropdown dd ul {background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 934, from(rgba(52,72,93,0.9)), to(rgba(97,207,247,0.9))); box-shadow: inset 0 1px 9px rgba(255,255,255,0.4); padding-top: 1rem; position: fixed; border: 1px solid grey; border-radius: 17px 17px 0px 0px; overflow-y: hidden; -webkit-overflow-scrolling: touch; width: 217px; max-width: 786px; margin-left: 2px; max-height: 357px; margin-top: calc(5vh + 3rem); bottom: 87px;}
li a {font-size:13px;}
li a span:nth-child(2) {line-height: 2em;}
.carousel-dropdown dd ul::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); border-left:1px solid rgba(0,0,0,0.1);}
.carousel-dropdown dd ul::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.4);}
.carousel-dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {background: blue;}
.carousel-dropdown span.value {display: none;}
.carousel-dropdown dd ul li a {padding: 5px 7px 3px 65px; display: block; font-size: 1rem; color: white!important;}
.carousel-dropdown dd ul li a:hover {background-color: rgba(97,207,247,0.9);}
dl.carousel-dropdown {display: inline-block; min-width: 220px; max-width: 220px; margin: -3px 0 0 1px; max-height: 40px; margin-top: -2px; position: absolute;}
dl.carousel-dropdown span:nth-child(3) {color: rgba(0,0,0,0.4);}
dl.carousel-dropdown > span:nth-child(2) {overflow: hidden; white-space: nowrap; display: inline-block;}
dl.carousel-dropdown span:nth-child(3) {float: right;}
dl.carousel-dropdown dt span:nth-child(2) {color: white; display: inline; margin-left: 20px; font-size: 1rem; background-color: transparent; text-align: left; font-weight: lighter; float: left; margin-top: -0.4rem;}
dl.carousel-dropdown dt span:nth-child(3) {	display: none;}
dl.carousel-dropdown>img {display:hidden; display:none;}
.carousel-dropdown dt a:after {margin-top:1px; content: ''; background: transparent; position: absolute; height: 42px; position: absolute; left: -1px; top: -2px; width: 55px; border:1px solid white;}
.carousel-dropdown dt a:before {background: none repeat scroll 0 0 white; content: ""; height: 0.1rem; position: absolute; left: 13px; top: 8px; width: 28px; opacity: 0.7; box-shadow: 0 8px 0 white, 0 16px 0 white;}
.carousel-dropdown dd ul li a span:first-child, .carousel-dropdown dt a span span:first-child {background-image: url(../img/features-small.png); background-repeat: no-repeat; width: 34px; height: 33px; float: left; margin: 10px 0px 50px -55px; zoom:0.8; vertical-align: top; border-radius: 0px; padding: 0px; left: 0;}
.media-carousel-dropdown-img {background-position:0px -70.5px;}
.media-carousel-dropdown-img:hover {box-shadow: 0 5px 19px rgba(0,0,0,1);}
.energy-carousel-dropdown-img {background-position:1px -34px;}
.energy-carousel-dropdown-img:hover {box-shadow: 0 5px 19px rgba(0,0,0,1);}
.iot-carousel-dropdown-img {background-position:0px 2px;}
.iot-carousel-dropdown-img:hover {box-shadow: 0 5px 19px rgba(0,0,0,1);}
.cameras-carousel-dropdown-img {background-position:-1px -106px;}
.cameras-carousel-dropdown-img:hover {box-shadow: 0 5px 19px rgba(0,0,0,1);}
.tracking-carousel-dropdown-img {background-position:0px -144px;}
.tracking-carousel-dropdown-img:hover {box-shadow: 0 5px 19px rgba(0,0,0,1);}
.more-carousel-dropdown-img {background-position:0px -180px;}
.more-carousel-dropdown-img:hover {box-shadow: 0 5px 19px rgba(0,0,0,1);}
.carousel-dropdown-holder {background-color:transparent; background-image:none; display:inline-block; color: #343A40; width:3px; height:1px;}
.carousel-dropdown-list {margin-left:50px; font-size:1rem; margin-top:-5px; padding-bottom:4px;}
u {text-decoration: none; position: relative;}
u:after { content: ''; width: 99%; position: absolute; left: 0; bottom: -0.01rem; border-width: 0 0 0.05rem; border-style: solid;}
.appstore-img-button-play { background-image:url('../img/google-play-66442243.svg'); background-repeat: no-repeat; background-position: 0px 0px; display: inline-block; background-color: transparent; padding-left: 0px; margin-top: 0px; height:42px; width: 110px; float: left;}
.appstore-img-button-apple {background-image:url('../img/app-store-1f36bbd8.svg'); background-repeat: no-repeat; background-position: 0px 0px; display: block; background-color: transparent; padding-left: 0px; margin-top: -1px; margin-left: 10px; height:42px; width: 110px; float: left;}
.payment-button-img-paypal {background-image:url('../img/paypal-logo.png'); background-repeat: no-repeat; background-position: 3px 2.5px; background-size: 82px auto; margin-left: 10px; display:inline-block!important; border: 0.05rem solid white; background-color: transparent; border-radius:4px 4px 4px 4px; width: 110px; height: 32px;}
.button-text-paypal {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter!important; color: white; letter-spacing:1px; text-align:left; margin-left:40px; font-size: 1rem; margin-top:3px; float:left;}
.payment-button-img-stripe {background-image:url('../img/stripe-logo.png'); background-repeat: no-repeat; background-position: 3px 2.5px; background-size: 82px auto; display:inline-block!important; margin-left: 2.5px; border-left: 0.2rem solid #343A40; border: 0.05rem solid white; background-color:transparent!Important; border-radius:4px 4px 4px 4px; cursor: pointer; width: 110px; height: 32px;}
.button-text-stripe {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: lighter!important; color: white; letter-spacing:1px; text-align:left; margin-left:40px; font-size: 1rem; margin-top:-2.5px; float:left;}
.button-block {display:inline-block; overflow:visible!important; height: 50px; width:380px; letter-spacing:30px; position:static; padding-top: 1.25rem; padding-bottom: 4rem!important;}
.button-block-left {margin-left: 0px; float: left;}
.button-block-right {margin-left: 0px; float: left;}
.tick-box-holder {text-decoration: underline; color: #CCCCCC;}
.tick-box {opacity:0.6; background-color: transparent; border:2px solid white; border-radius:4px; width:18px; height:18px; display:inline-block;}
.moreinfo {padding-bottom:3px; opacity:0.8; margin-left:9px; width:1.25rem; height:auto; cursor: pointer;}