@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
	overflow:scroll;
	top:0;
	left:0;
    padding-top: 1rem;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	background-color: rgba(255,255,255,0.1);
}

html {
    overflow-y: scroll!important;
    overflow: hidden;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.title {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	display:block;
	vertical-align:middle;
	width:280px;
	padding-top:2rem;
	padding-bottom:1rem;
	height:1rem;
	margin-bottom: 0rem;
	margin-left:calc(50% - 140px);
	text-align:center;
	background-color:transparent;
	font-size:2rem;
	font-weight: lighter;
	opacity:0.85;
	color: #34485D;
}

.paragraph-textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: 400;
	opacity:0.85;
	color: #34485D;
	display: block;
	overflow: visible;
	background: transparent;
	/* border: 0.05rem solid white; testing */
	border-radius:45px 45px 45px 45px;
	margin-left: 6vw;
	padding:1rem;
	min-width: calc(75vw);
    max-width: calc(75vw);
	margin-bottom:5rem;

}

.paragraph-title {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: 600;
	opacity:0.8;
	color: white;
    padding-left: calc(1.25vw);
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;

}
.paragraph-content {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	padding-left: 3rem;
	padding-right: 4rem;
	text-align:justify;
	font-size:1rem;
	font-weight: 400;
	opacity:0.85;
	color: white;
	margin-left:0.5rem;
    border-radius: 10px;
    /* border: 0.03rem solid white; */
	padding-top:20px;
	padding-bottom:20px;
	box-shadow: inset 0.4px 0px 2.1px 0.1px white;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: justify;
    word-spacing: -0.1rem!important;
    letter-spacing: 0;
    line-height: 2.1rem;
    font-weight: 200;
    color: lightgrey;
    margin-left: 0.5rem;
    background: rgba(52,72,93,1);
    border-radius: 10px;
    border: 0.2rem solid white!important;
    padding-bottom: 20px;
    box-shadow: inset 0.4px 0px 2.1px -0.9px black;
    padding-top: 1rem;
	text-shadow:-2px 2px black; 
}


.main-image {
	content:"image";
	text-align:center;
	margin-top:2rem;
	min-height: inherit;
	max-height: calc(30vw);
    min-width: calc(70vw);
    max-width: calc(70vw);
    margin-left: calc(2.5vw);
	position:static!important;
	border-radius: calc(10vw - 7.5rem);
	filter: invert(0%)!important;
	overflow:hidden!important;
	margin-bottom:2rem; 
	opacity:0.95;

}

.main-image2 {
	content:"image";
	text-align:center;
	margin-top:2rem;
	height:auto;
    width: calc(50vw);
    max-width: 470px;
    min-width: 232px;
	position:static!important;
	border-radius: calc(10vw - 7.5rem);
	brightness(1.05);
	border-radius: 30px;
    border-style: outset;
	overflow:hidden!important;
	margin-bottom:2rem; 
	opacity:1;

}

.demo-all-divs {
	background-size:100.5%!important;
	border:0px solid transparent!important;
}

@media all and (min-width:1024px) {
	
.paragraph-textarea {
	margin-left: 11vw;
}

.paragraph-content {
	/* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
	font-weight: lighter;
	word-spacing:0rem;
	letter-spacing:0rem;
	line-height:1.8rem;


}
	
}


@media all and (min-width: 960px) and (max-width: 1123px) {

}
@media all and (min-width: 768px) and (max-width: 959px) {

}
@media all and (min-width: 480px)and (max-width: 767px) {
	
.paragraph-content {
    font-size: 125%!important;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	word-spacing:0.2rem;
}

.main-image {
	max-height: calc(30vh);
}

}
@media all and (max-width: 479px) {
	

.main-image {
	max-height: calc(30vh);
}

}

@media(-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:3/2), (min-resolution:1.5dppx) {

}


	/* Stylesheet Structure:
   
		1. .class-1 {}  .class-2 {} ... etc

		2. @media all and (min-width:1024px) {.class-1 {}.class-2 {} ... etc}
		3. @media all and (min-width: 960px) and (max-width: 1123px) {.class-1 {}.class-2 {} ... etc}
		4. @media all and (min-width: 960px) and (orientation: portrait)  {.class-1 {}.class-2 {} ... etc}
		5. @media all and (min-width: 960px) and (orientation: landscape) {.class-1 {}.class-2 {} ... etc}
		6. @media all and (min-width: 768px) and (max-width: 959px) and (orientation: portrait)  {.class-1 {}.class-2 {} ... etc}
		7. @media all and (min-width: 768px) and (max-width: 959px) and (orientation: landscape) {.class-1 {}.class-2 {} ... etc}
		8. @media all and (min-width: 480px) and (max-width: 767px) and (orientation: portrait)  {.class-1 {}.class-2 {} ... etc}
		9. @media all and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {.class-1 {}.class-2 {} ... etc}
		10. 			       	  @media all and (max-width: 479px) and (orientation: portrait)  {.class-1 {}.class-2 {} ... etc}
		11. 					  @media all and (max-width: 479px) and (orientation: landscape) {.class-1 {}.class-2 {} ... etc}
	
	classes used in this stylesheet:
	
		A.  body {}
		B. .html {}
		C. .title {}
		D. .paragraph-textarea {}
		E. .paragraph-title {}
		F. .paragraph-content
		G. .main-image {}
		H. .demo-all-divs {}	
	
   */