
@media all and (min-width:1024px) {	

img {
	max-width:auto;
	max-height:450px;
	  transition: width 1s ease-out;
}

#image1.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image2.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image3.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}
}

@media all and (min-width: 960px) and (max-width: 1123px) {
	
	img {
	max-width:auto;
	max-height:450px;
	  transition: width 1s ease-out;
}

#image1.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image2.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image3.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}
}

@media all and (min-width: 768px) and (max-width: 959px) {
	
	img {
	max-width:auto;
	max-height:450px;
	  transition: width 1s ease-out;
}

#image1.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image2.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image3.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}
}

@media all and (min-width: 480px)and (max-width: 767px) {

	
img {
	max-width:auto;
	max-height:450px;
	  transition: width 1s ease-out;
}

#image1.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image2.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image3.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}	
}

@media all and (max-width: 479px) {
	
		
img {
	max-width:auto;
	max-height:450px;
	  transition: width 1s ease-out;
}

#image1.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image2.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}

#image3.loaded {
	
	border-radius:1px solid white;
	overflow: hidden;
	margin-top: 2rem;
	height:inherit;
	max-height:450px;
  transition: width 0.1s ease-out;
	margin-right: 13rem;
	float:right;
}
}

