@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  overflow-x:hidden!important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* NAV-BAR/MENU
-------------------------------------------------- */


.navbar-brand {
  max-width:175px!important;
  max-height:52px;
}

.nav-link {
  text-decoration:none!important;
  border: 1px solid white;
  opacity: 0.5;
  border-radius: 20px 20px 20px 20px;
  padding: 2px;
  margin: 2px;
  display: block;
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 20px;
}


/* CAROUSEL - Layout
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #34485D;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 32rem;
}

/* CAROUSEL - text
-------------------------------------------------- */

.carousel-title {
  text-indent: 15px;
}

.carousel-subtitle {
  font-size:16px; 
  color:grey;
}


/* Animated Words 
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 30px;
  top: 50%;
  margin-top: 0px;
  
}

.word {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin-top:-8px;
  font-style:bold;

}

.letter {
  display: inline-block;
  margin: 2px;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
		 
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   opacity:0.01;
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
		 opacity:0.011;
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

.wave {
  color: #54CCF3;
}


.white {
  color: white;
}

/* COLUMNS BELOW THE CAROUSEL
-------------------------------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



