/*  2018 Copyright - WaveOS
                 ..                   
..   ..          ..   ........                     .........     .......     ........                      .........    ......................
..   ...           ..  ........                   .........     .........     ........                    .........    ......................
 .......         .....  ........                 .........     ...........     ........                  .........    ......................
 .......       ........  ........               .........     .............     ........                .........    ......................
 .......       ...        ........             .........     ...............     ........              .........    .......
  ......       ........   .........           .........     ........   ......     ........            .........    .......
  ......       .......   ...........         .........     ........     ......     ........          .........    .................
   .....        .....   .............       .........     .......    .   ......     ........        .........    .................
   .........    ....   ...............     .........     .......   .....  ......     ........      .........    .................
    .......... . ..   ......   ........   .........     .........................     ........    .........    .................
       ......... .   ......     ..................     ........     ...     ......     ...................    ........
        .........   ......       ................     ........       .       ......     .................    ........
          ......   ......         ..............     ........                 ......     ...............    ...........................
            ...   ......           ............     ........                   ......     .............    ...........................
             .   ......             ..........     ........                     ......     ...........    ........................... 

                        
						 ............................................................................................
						           WaveOS by Unclehowell -  Make it Wave Ltd 2018  - All Rights Reserved 
					     ............................................................................................ 
                             GitHub:https://github.com/unclehowell/WaveOS -  Website:https://makeitwave.com
					     ..........................................................................................   */

/*  Classes:     AA.  html {}
				 AB.  body {}
				 AC.  body.fade-out {}
				 AD. .main {}
				 AE. .bold {}
				 AF. .inline-copyright {}
				 AG. .copyright {}
				 AH. .img {}
				 AI. .sexy_line {}
				 AJ. .spacer-block {}
				 AK. .a {}
				 AL. .underrevolvingtext {}
				 AM. .u {}
				 AN. .u:after {}
				 
				 ---  NAVBAR  ---
				 BA. .navbar-brand {}
				 BB. .nav-link {}
				 BC. .navbar-expand-md .navbar-nav .nav-link {}
				 BD. .bg-dark
				 				 
				 ---  SEGMENTS  ---
				 CA .segment-top {}
				 CB .segment {}
				 CI .sexy_line {}
				 
				 DA. .segment-video {} 
				 DB. .video-frame {}
				 DC. .video-wrapper {}
				 DD. .video-close {}	
				 DE. .video-link {}
				 
				 EF. .segment-news {} 
				 
				 FA. .col-lg-4 {}
				 FB. .rounded-circle {}
				 
				 ---  FOOTER  ---
				 XA. .footer>p {}
				 XB. .footer link:hover {]
				 XC. .footer link:visited {}
				 XD. .footer a {}
				 XE. .footer a:visited {} 
				 
				 */
	  
/* 	Structure:  01. .class-1 {}  .class-2 {} ... etc

				02. @media all and (min-width:1024px)				 {.class-1 {}.class-2 {} ... etc}
				03. @media all and (min-width:960px) and (max-width:1123px) 	 {.class-1 {}.class-2 {} ... etc}
				04. @media all and (min-width:960px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				05. @media all and (min-width:960px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				06. @media all and (min-width:768px) and (max-width:959px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				07. @media all and (min-width:768px) and (max-width:959px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				08. @media all and (min-width:480px) and (max-width:767px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				09. @media all and (min-width:480px) and (max-width:767px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}
				10. 			       	  @media all and (max-width:479px) and (orientation:portrait)  {.class-1 {}.class-2 {} ... etc}
				11. 					  @media all and (max-width:479px) and (orientation:landscape) {.class-1 {}.class-2 {} ... etc}     */

				
/* 01:> */   @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
/* 01:AA */	 html { overflow-x:hidden;}
/* 01:AB */	 body {color: #5a5a5a;transition: 2s opacity;background-color: rgba(245,255,255); }
/* 01:AC */	 body.fade-out {opacity: 0;transition: none;}
/* 01:AD */ .main {padding-top:69px; min-height: calc(100vh - 55px);background: -webkit-gradient(radial, 50% 60%, 150, 50% 60%, 260, from(#fff), to(#F3F5F8));}
/* 01:AE */ .bold {	font-weight:600!important;}
/* 01:AF */ .inline-copyright {position:static; font-weight: lighter!important; vertical-align: top; display:inline-block; float:center; margin-left:-0.5em; padding-left:10px; font-size: 0.75rem; opacity:0.8;}
/* 01:AG */ .copyright {margin-left:5px; float:left; opacity:0.8;}
/* 01:AH */ .img {-ms-interpolation-mode: bicubic; image-rendering: auto; text-rendering: optimizeSpeed; text-rendering: optimizeLegibility; text-rendering: geometricPrecision;}
/* 01:AJ */ .spacer-block {margin-top: 0em; display: block; height: 30px;}
/* 01:AK */  a {text-decoration: none;}
/* 01:AM */  u {text-decoration: none; position: relative;}
/* 01:AN */  u:after { content: ''; width: 99%; position: absolute; left: 0; bottom: -0.01rem; border-width: 0 0 0.05rem; border-style: solid;}

/* ---  NAVBAR  --- */
/* 01:BA */  .navbar-brand {image-rendering: auto; max-width: 175px!important; max-height: 52px; opacity:1; border: 0px solid transparent!important; }
/* 01:BB */  .nav-link {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: 338!important; text-decoration: none!important; border-left: 1px solid #34485D; opacity: 1; border-radius: 30px 30px 30px 30px; box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.2); margin: 2px; display: block; height: 40px; width: 90vw; text-align: center; font-size: 1rem; color: white; letter-spacing: 0.03rem;}
/* 01:BC */  .navbar-expand-md .navbar-nav .nav-link {box-shadow: inset 0 -21px 20px rgba(255,255,255,0.05); color: rgba(255,255,255,0.8); padding: 5px 0px 0px 0px;}
/* 01:BD */  .bg-dark {background-color: #34485D!important; max-width: 100.5vw!important; /* stops jumping when slider changes */ overflow:hidden;}

/* ---  SEGMENTS  --- */
/* 01:CA */  .segment-top {height: inherit; padding-top:1rem; padding-bottom:1rem; background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#F3F5F8), to(#fff)); verticle-align:top;}
/* 01:CB */  .segment { height: inherit; padding-top:1rem; padding-bottom:5rem; background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#F3F5F8), to(#fff)); verticle-align:top;}
/* 01:CC */  .segment-bottom {display:flex; white-space:nowrap; justify-content: center; align-items: center; height: inherit; padding-top: calc(10vh); padding-bottom:1rem; background: -webkit-gradient(radial, 50% 50%, 450, 50% 50%, 860, from(#F3F5F8), to(#fff)); verticle-align:top;}
/* 01:CD */  .segment-title {display:flex; white-space:nowrap; justify-content: center; align-items: center; padding:5rem 0 5rem 0; margin:0; width:auto; overflow: visible;  max-height:4rem; text-align:center; font-size:1.5rem; font-weight: lighter!important; background-image: url(../img/wavee.png); background-repeat: no-repeat; background-size: 100px 110px; background-position-x: center; background-position-y: center;}
			 .nowrap h3 {white-space: nowrap;}
/* 01:CE */  .segment-subtitle {font-size: 1.5rem;  margin: 1rem 1rem 1rem 0rem;font-weight: lighter;}
/* 01:CF */  .segment-paragraph {font-weight: lighter; margin-top: 0rem; padding-left: 10vw; overflow: visible; display: flex; justify-content: center; align-items: normal; text-align: justify; padding-right: 10vw; word-spacing: -0.1rem;}
/* 01:CG */  .segment-col-paragraph {font-weight: lighter!important; text-align: justify; word-spacing: 0.05rem; min-height: 160px; max-height: 200px; padding-left: 1rem; padding-right:1rem;}
/* 01:CI */  .sexy_line {display: block; border: none; color: white; height: 1px; background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));}


/* ---  SEGMENTS: VIDEO  --- */
/* 01:DA */  .video-frame {box-shadow: 0px 0px 8px -1px #fff!important;}
/* 01:DB */  .video-wrapper {background:rgba(52, 72, 93, 0.9)!important;}
/* 01:DC */  .video-close {float: right; margin-right: 0.5rem!important; box-shadow: 0px 0px 20px 4px transparent!important; background-color:transparent!important; color: #ffffff!important; border: none; box-sizing: border-box; padding: 0 10px 0 12px; font-size: 3rem!important; position: sticky!important; z-index: 2!important; margin-top: -0.5rem!important;}
/* 01:DD */  .video-link {display:inline-block; top:0; height:160px; width:160px; background-image:url('../img/playbutton.png'); background-position:0px 0px; border:1px solid grey; border-radius:25px; margin-left: calc(50vw - 80px); position:static; float: center;}

/* ---  SEGMENTS: NEWS   --- */
/* 01:EA */  .news-link {color: #34485D!important; font-size: 0.85rem; font-style: normal; min-height: 1rem; display: inline-block; font-weight: lighter!important; letter-spacing: 0px;}
/* 01:EB */  .news-link:hover {text-decoration:underline; color:#9FB1B3;}
/* 01:EC */  .news-link:visited {text-decoration:underline; color:#9FB1B3; opacity:0.8;}
             .news-title-div { display: inline-block; width: 100vw; text-align: center;}
/* 01:ED */  .news-title { font-size: 1rem; }
			 .news-block {height: inherit; margin-bottom:2rem;  }
/* 01:EF */  .news-subtitle {text-align: center; margin-top:-0.5rem; }
/* 01:EG */  .year {font-size:1rem; margin-left: calc(50vw - 100px); display:block; left:0; background-color:white; color:#34485D; border-left:1px solid #34485D; border-right:1px solid #34485D; border-top:1px solid #34485D; border-bottom:1px solid #34485D; border-radius:25px; margin-top:-10px; text-align:center; float:left; max-width:calc(33vw)!important; min-width:200px!important; margin-bottom:2.5rem;}

/* ---  SEGMENTS: Download   --- */
/* 01:FH */  .download-buttons-div {text-align:center;}

/* 01:GA */  .col-lg-4 {text-align: center; border-bottom: 1px dotted grey;}
/* 01:GB */  .rounded-circle {border-radius:10%!important;}

/* ---  FOOTER  --- */
/* 01:XA */  .footer {width: 100%; bottom: 0; left: 0; text-decoration: none; display: block; height: 55px; position: relative; float: left; background-color:#34485D; color:white;}
/* 01:XB */  .footer>p {margin: 7.5px 5px 0px 5px; position: relative; display: inline-block; max-height: 41px; vertical-align: middle; white-space: nowrap; padding: 10px 5px 10px 5px; /* overflow: visible; */ bottom: 0!important;}
/* 01:XC */  .footer link:hover {color: white; text-decoration:none;}
/* 01:XE */  .footer link:visited {color: white; text-decoration:none;}
/* 01:XF */  .footer a {color: white; text-decoration:none;}
/* 01:XG */  .footer a:visited {color: white; text-decoration:none;}


@media all and (min-width:1024px) {
	
.rounded-circle {  zoom: 1.5; }
	
.footer {
    line-height: 1.2rem;	
}

h1 { 
	font-size: 2rem!important; 
}



.year {

	margin-top:-15px;
    margin-left: calc(50vw - 200px);
    min-width: 400px!important;
    height: 37px;
    padding-top: 5px;
}

.video-link {
	height: 300px;
	width: 300px;
	margin-left: calc(50vw - 150px);
	background-size: cover;
	background-position: 10px 0px;
	-ms-interpolation-mode: bicubic; 
	image-rendering: auto;
}
	
#image1>img,#image2>img,#image3>img,#image4>img,#image4>img {
	max-width:calc(55vw);
	height: auto;
	min-height: 200px;
	max-height: 400px;
	margin-right:calc(15vw);
	float:right;
	margin-top:55px;
	transition: width 0.1s ease-out;
	padding-bottom:2rem;
}


	
.nav-link {
	width: 200px;
}

.segment-title {
	font-size: 2.5rem;
	margin-bottom:4rem; 
	background-size: 140px 165px;

}

}

@media all and (min-width: 960px) and (max-width: 1123px) {
	
#image1>img,#image2>img,#image3>img,#image4>img,#image4>img {
	max-width:calc(55vw);
	height: auto;
	min-height: calc(40vw);
	max-height: 280px;
	margin-right:calc(15vw);
	float:right;
	margin-top:55px;
	transition: width 0.1s ease-out;
}

}

@media all and (min-width: 768px) and (max-width: 959px) {
	
h1 {
	font-size: 1rem;
}
	
#image1>img,#image2>img,#image3>img,#image4>img,#image4>img {
	max-width:calc(55vw);
	height: auto;
	min-height: calc(40vw);
	max-height: 280px;
	margin-right:calc(15vw);
	float:right;
	margin-top:55px;
	transition: width 0.1s ease-out;
}

}

@media all and (min-width: 480px)and (max-width: 767px) {

h1 {
	font-size: 1rem;
}

#image1>img,#image2>img,#image3>img,#image4>img,#image4>img {
	max-width:calc(75vw);
	height: auto;
	min-height: calc(30vw);
	max-height: 280px;
	margin-left:calc(12.5vw);
	margin-top:75px;
	transition: width 0.1s ease-out;
	padding-bottom:0!important;
	margin-bottom:0!important;
}



}

@media all and (max-width: 479px) {
	
.rounded-circle {  margin-top: 2.5rem;
    top: 0;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.04);
    padding: -3px;
    zoom: 1.3; }

.nav-link {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	text-decoration: none!important;
	border: 1px solid grey;
	top:15px;
	opacity: 0.5;
	border-radius: 10px 10px 10px 10px;
	display: block;
	height: 40px;
	width: 100%;
	text-align: center;
	font-size: 1.25rem;
	overflow:hidden!important; 
}

	/* moved the image up and makes smaller */
	
h1 {
	font-size: 1.25rem;
	display: inline-block;
}
	
	
.sexy_line{  
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#000), to(#fff));
}
	
#image1>img,#image2>img,#image3>img,#image4>img,#image4>img {
	max-width:calc(75vw)!important;
	height: auto;
	max-height: 275px;
	margin-left:calc(12.5vw)!important;
	margin-top:60px;
	transition: width 0.1s ease-out;
}


	
}

/* Retina Breakpoints(@2x)  */
@media(-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:3/2), (min-resolution:1.5dppx) {

/* .carouselone {
	zoom: 0.8;
}

.carouseltwo {
	zoom: 0.8;
}

.carouselthree {
	zoom: 0.8;
} */

}

@media print {

html.with-featherlight>*>:not(.featherlight) {
	display: none
}

}

	
	
	