body {
background-color: #34485D;
color: white;
text-align:left;
padding-left:20px;
padding-right: 20px;
}
.ui-draggable, .ui-droppable {
	background-position: top;
}
p {
	line-height: 6px;
	font-family:Helvetica,Arial,sans-serif; 
}
h1 {
	margin-top:20px;
	text-align:center;
}

a {
	
	font-family:Helvetica,Arial,sans-serif; 
	margin-top:5px;
	text-decoration:none;
	margin-bottom:5px;
	color: white;
	display: block;
	border-radius: 20px 20px 20px 20px; 
	border: 1px white solid;
	padding-top: 15px;
	text-align:center;
	background-color: grey;
	height: 20px;
	width: 140px;
}

iframe {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	height: calc(70vh);
	border: 1px solid white;
	opacity: 0.8;
}

.title {
	
	    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    left: 0;
    margin-left: -8.5rem;
    float: left;
    font-size: 1.5rem;
}