
/*--- Last Modified: June 14, 2018 - 6:16 GMT ---*/ 

/* ----- ----- 1080i : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1440 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 480 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 479.5px)
and (max-device-height: 480.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 474.5px;
width: 360px;
} 

.demo-iframe {
height: 473.5px;
width: 359px;
background-image: url(../img/media-queries/1080i_P.png);
} 

.demo-emby-div { 
height: 474.5px;
width: 360px;

background-image: url(../img/demo-content/emby/1080i_P-content.png);
} 
} 

/* ----- ----- 4320p : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 7680 x 4320 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 7680 x 4320 ) ------ ----*/ 

@media only screen
and (min-device-width: 4319.5px)
and (max-device-width: 4320.5px)
and (min-device-height: 7679.5px)
and (max-device-height: 7680.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 7674.5px;
width: 4320px;
} 

.demo-iframe {
height: 7673.5px;
width: 4319px;
background-image: url(../img/media-queries/4320p_P.png);
} 

.demo-emby-div { 
height: 7674.5px;
width: 4320px;

background-image: url(../img/demo-content/emby/4320p_P-content.png);
} 
} 

/* ----- ----- 8KFullDome : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 8192 x 8192 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 8192 x 8192 ) ------ ----*/ 

@media only screen
and (min-device-width: 8191.5px)
and (max-device-width: 8192.5px)
and (min-device-height: 8191.5px)
and (max-device-height: 8192.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 8186.5px;
width: 8192px;
} 

.demo-iframe {
height: 8185.5px;
width: 8191px;
background-image: url(../img/media-queries/8KFullDome_P.png);
} 

.demo-emby-div { 
height: 8186.5px;
width: 8192px;

background-image: url(../img/demo-content/emby/8KFullDome_P-content.png);
} 
} 

/* ----- ----- AlienwareCurvedDisplay : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2880 x 900 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1440 x 450 ) ------ ----*/ 

@media only screen
and (min-device-width: 449.5px)
and (max-device-width: 450.5px)
and (min-device-height: 1439.5px)
and (max-device-height: 1440.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1434.5px;
width: 450px;
} 

.demo-iframe {
height: 1433.5px;
width: 449px;
background-image: url(../img/media-queries/AlienwareCurvedDisplay_P.png);
} 

.demo-emby-div { 
height: 1434.5px;
width: 450px;

background-image: url(../img/demo-content/emby/AlienwareCurvedDisplay_P-content.png);
} 
} 

/* ----- ----- ChromebookPixel : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2560 x 1700 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1280 x 850 ) ------ ----*/ 

@media only screen
and (min-device-width: 849.5px)
and (max-device-width: 850.5px)
and (min-device-height: 1279.5px)
and (max-device-height: 1280.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1274.5px;
width: 850px;
} 

.demo-iframe {
height: 1273.5px;
width: 849px;
background-image: url(../img/media-queries/ChromebookPixel_P.png);
} 

.demo-emby-div { 
height: 1274.5px;
width: 850px;

background-image: url(../img/demo-content/emby/ChromebookPixel_P-content.png);
} 
} 

/* ----- ----- DCI2K : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2048 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 2044 x 1078 ) ------ ----*/ 

@media only screen
and (min-device-width: 1077.5px)
and (max-device-width: 1078.5px)
and (min-device-height: 2043.5px)
and (max-device-height: 2044.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 2038.5px;
width: 1078px;
} 

.demo-iframe {
height: 2037.5px;
width: 1077px;
background-image: url(../img/media-queries/DCI2K_P.png);
} 

.demo-emby-div { 
height: 2038.5px;
width: 1078px;

background-image: url(../img/demo-content/emby/DCI2K_P-content.png);
} 
} 

/* ----- ----- DellMonitorIN1920 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1366 x 768 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1366 x 768 ) ------ ----*/ 

@media only screen
and (min-device-width: 767.5px)
and (max-device-width: 768.5px)
and (min-device-height: 1365.5px)
and (max-device-height: 1366.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1360.5px;
width: 768px;
} 

.demo-iframe {
height: 1359.5px;
width: 767px;
background-image: url(../img/media-queries/DellMonitorIN1920_P.png);
} 

.demo-emby-div { 
height: 1360.5px;
width: 768px;

background-image: url(../img/demo-content/emby/DellMonitorIN1920_P-content.png);
} 
} 

/* ----- ----- GalaxyS2 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 800 x 480 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 800 x 480 ) ------ ----*/ 

@media only screen
and (min-device-width: 479.5px)
and (max-device-width: 480.5px)
and (min-device-height: 799.5px)
and (max-device-height: 800.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 794.5px;
width: 480px;
} 

.demo-iframe {
height: 793.5px;
width: 479px;
background-image: url(../img/media-queries/GalaxyS2_P.png);
} 

.demo-emby-div { 
height: 794.5px;
width: 480px;

background-image: url(../img/demo-content/emby/GalaxyS2_P-content.png);
} 
} 

/* ----- ----- GalaxyS3andNote2andHTC8XandWXGA-H : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1280 x 720 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 640 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 639.5px)
and (max-device-height: 640.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS3andNote2andHTC8XandWXGA-H_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS3andNote2andHTC8XandWXGA-H_P-content.png);
} 
} 

/* ----- ----- GalaxyS45andNote3 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 640 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 639.5px)
and (max-device-height: 640.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS45andNote3_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS45andNote3_P-content.png);
} 
} 

/* ----- ----- GalaxyS6and7andEdge : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2560 x 1440 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 640 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 639.5px)
and (max-device-height: 640.5px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS6and7andEdge_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS6and7andEdge_P-content.png);
} 
} 

/* ----- ----- GalaxyS8-9+ : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2960 x 1440 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 987 x 480 ) ------ ----*/ 

@media only screen
and (min-device-width: 1439.5px)
and (max-device-width: 1440.5px)
and (min-device-height: 2959.5px)
and (max-device-height: 2960.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 2954.5px;
width: 1440px;
} 

.demo-iframe {
height: 2953.5px;
width: 1439px;
background-image: url(../img/media-queries/GalaxyS8-9+_P.png);
} 

.demo-emby-div { 
height: 2954.5px;
width: 1440px;

background-image: url(../img/demo-content/emby/GalaxyS8-9+_P-content.png);
} 
} 

/* ----- ----- GalaxyTab10 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1280 x 800 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1280 x 800 ) ------ ----*/ 

@media only screen
and (min-device-width: 799.5px)
and (max-device-width: 800.5px)
and (min-device-height: 1279.5px)
and (max-device-height: 1280.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1274.5px;
width: 800px;
} 

.demo-iframe {
height: 1273.5px;
width: 799px;
background-image: url(../img/media-queries/GalaxyTab10_P.png);
} 

.demo-emby-div { 
height: 1274.5px;
width: 800px;

background-image: url(../img/demo-content/emby/GalaxyTab10_P-content.png);
} 
} 

/* ----- ----- HitachiCM821F : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1856 x 1392 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 807 x 606 ) ------ ----*/ 

@media only screen
and (min-device-width: 605.5px)
and (max-device-width: 606.5px)
and (min-device-height: 806.5px)
and (max-device-height: 807.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 801.5px;
width: 606px;
} 

.demo-iframe {
height: 800.5px;
width: 605px;
background-image: url(../img/media-queries/HitachiCM821F_P.png);
} 

.demo-emby-div { 
height: 801.5px;
width: 606px;

background-image: url(../img/demo-content/emby/HitachiCM821F_P-content.png);
} 
} 

/* ----- ----- HTCVive : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1200 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 400 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 399.5px)
and (max-device-height: 400.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 394.5px;
width: 360px;
} 

.demo-iframe {
height: 393.5px;
width: 359px;
background-image: url(../img/media-queries/HTCVive_P.png);
} 

.demo-emby-div { 
height: 394.5px;
width: 360px;

background-image: url(../img/demo-content/emby/HTCVive_P-content.png);
} 
} 

/* ----- ----- IpadandTFT : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1024 x 768 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 512 x 384 ) ------ ----*/ 

@media only screen
and (min-device-width: 767.5px)
and (max-device-width: 768.5px)
and (min-device-height: 1023.5px)
and (max-device-height: 1024.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1018.5px;
width: 768px;
} 

.demo-iframe {
height: 1017.5px;
width: 767px;
background-image: url(../img/media-queries/IpadandTFT_P.png);
} 

.demo-emby-div { 
height: 1018.5px;
width: 768px;

background-image: url(../img/demo-content/emby/IpadandTFT_P-content.png);
} 
} 

/* ----- ----- IpadPro : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1366 x 1024 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 683 x 512 ) ------ ----*/ 

@media only screen
and (min-device-width: 1023.5px)
and (max-device-width: 1024.5px)
and (min-device-height: 1365.5px)
and (max-device-height: 1366.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1360.5px;
width: 1024px;
} 

.demo-iframe {
height: 1359.5px;
width: 1023px;
background-image: url(../img/media-queries/IpadPro_P.png);
} 

.demo-emby-div { 
height: 1360.5px;
width: 1024px;

background-image: url(../img/demo-content/emby/IpadPro_P-content.png);
} 
} 

/* ----- ----- Iphone4 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 960 x 640 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 480 x 320 ) ------ ----*/ 

@media only screen
and (min-device-width: 319.5px)
and (max-device-width: 320.5px)
and (min-device-height: 479.5px)
and (max-device-height: 480.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 474.5px;
width: 320px;
} 

.demo-iframe {
height: 473.5px;
width: 319px;
background-image: url(../img/media-queries/Iphone4_P.png);
} 

.demo-emby-div { 
height: 474.5px;
width: 320px;

background-image: url(../img/demo-content/emby/Iphone4_P-content.png);
} 
} 

/* ----- ----- Iphone5 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1136 x 640 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 568 x 320 ) ------ ----*/ 

@media only screen
and (min-device-width: 319.5px)
and (max-device-width: 320.5px)
and (min-device-height: 567.5px)
and (max-device-height: 568.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 562.5px;
width: 320px;
} 

.demo-iframe {
height: 561.5px;
width: 319px;
background-image: url(../img/media-queries/Iphone5_P.png);
} 

.demo-emby-div { 
height: 562.5px;
width: 320px;

background-image: url(../img/demo-content/emby/Iphone5_P-content.png);
} 
} 

/* ----- ----- Iphone6-8+andHTC1andFullHD : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 736 x 414 ) ------ ----*/ 

@media only screen
and (min-device-width: 413.5px)
and (max-device-width: 414.5px)
and (min-device-height: 735.5px)
and (max-device-height: 736.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 730.5px;
width: 414px;
} 

.demo-iframe {
height: 729.5px;
width: 413px;
background-image: url(../img/media-queries/Iphone6-8+andHTC1andFullHD_P.png);
} 

.demo-emby-div { 
height: 730.5px;
width: 414px;

background-image: url(../img/demo-content/emby/Iphone6-8+andHTC1andFullHD_P-content.png);
} 
} 

/* ----- ----- Iphone6and6Sand7and8 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1334 x 750 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1336 x 751 ) ------ ----*/ 

@media only screen
and (min-device-width: 750.5px)
and (max-device-width: 751.5px)
and (min-device-height: 1335.5px)
and (max-device-height: 1336.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1330.5px;
width: 751px;
} 

.demo-iframe {
height: 1329.5px;
width: 750px;
background-image: url(../img/media-queries/Iphone6and6Sand7and8_P.png);
} 

.demo-emby-div { 
height: 1330.5px;
width: 751px;

background-image: url(../img/demo-content/emby/Iphone6and6Sand7and8_P-content.png);
} 
} 

/* ----- ----- IphoneX : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2436 x 1125 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 812 x 375 ) ------ ----*/ 

@media only screen
and (min-device-width: 374.5px)
and (max-device-width: 375.5px)
and (min-device-height: 811.5px)
and (max-device-height: 812.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 806.5px;
width: 375px;
} 

.demo-iframe {
height: 805.5px;
width: 374px;
background-image: url(../img/media-queries/IphoneX_P.png);
} 

.demo-emby-div { 
height: 806.5px;
width: 375px;

background-image: url(../img/demo-content/emby/IphoneX_P-content.png);
} 
} 

/* ----- ----- LenovoThinkpadT60 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1600 x 1200 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 534 x 400 ) ------ ----*/ 

@media only screen
and (min-device-width: 399.5px)
and (max-device-width: 400.5px)
and (min-device-height: 533.5px)
and (max-device-height: 534.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 528.5px;
width: 400px;
} 

.demo-iframe {
height: 527.5px;
width: 399px;
background-image: url(../img/media-queries/LenovoThinkpadT60_P.png);
} 

.demo-emby-div { 
height: 528.5px;
width: 400px;

background-image: url(../img/demo-content/emby/LenovoThinkpadT60_P-content.png);
} 
} 

/* ----- ----- LenovoThinkpadX61 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1400 x 1050 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 467 x 350 ) ------ ----*/ 

@media only screen
and (min-device-width: 349.5px)
and (max-device-width: 350.5px)
and (min-device-height: 466.5px)
and (max-device-height: 467.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 461.5px;
width: 350px;
} 

.demo-iframe {
height: 460.5px;
width: 349px;
background-image: url(../img/media-queries/LenovoThinkpadX61_P.png);
} 

.demo-emby-div { 
height: 461.5px;
width: 350px;

background-image: url(../img/demo-content/emby/LenovoThinkpadX61_P-content.png);
} 
} 

/* ----- ----- LG-G5 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2560 x 1440 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 859 x 483 ) ------ ----*/ 

@media only screen
and (min-device-width: 1439.5px)
and (max-device-width: 1440.5px)
and (min-device-height: 2559.5px)
and (max-device-height: 2560.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 2554.5px;
width: 1440px;
} 

.demo-iframe {
height: 2553.5px;
width: 1439px;
background-image: url(../img/media-queries/LG-G5_P.png);
} 

.demo-emby-div { 
height: 2554.5px;
width: 1440px;

background-image: url(../img/demo-content/emby/LG-G5_P-content.png);
} 
} 

/* ----- ----- Nexus7 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1200 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 960 x 600 ) ------ ----*/ 

@media only screen
and (min-device-width: 599.5px)
and (max-device-width: 600.5px)
and (min-device-height: 959.5px)
and (max-device-height: 960.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 954.5px;
width: 600px;
} 

.demo-iframe {
height: 953.5px;
width: 599px;
background-image: url(../img/media-queries/Nexus7_P.png);
} 

.demo-emby-div { 
height: 954.5px;
width: 600px;

background-image: url(../img/demo-content/emby/Nexus7_P-content.png);
} 
} 

/* ----- ----- Nexus9 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1536 x 2048 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 768 x 1024 ) ------ ----*/ 

@media only screen
and (min-device-width: 1023.5px)
and (max-device-width: 1024.5px)
and (min-device-height: 767.5px)
and (max-device-height: 768.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 762.5px;
width: 1024px;
} 

.demo-iframe {
height: 761.5px;
width: 1023px;
background-image: url(../img/media-queries/Nexus9_P.png);
} 

.demo-emby-div { 
height: 762.5px;
width: 1024px;

background-image: url(../img/demo-content/emby/Nexus9_P-content.png);
} 
} 

/* ----- ----- Nokia5230 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 640 x 360 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 640 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 639.5px)
and (max-device-height: 640.5px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/Nokia5230_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/Nokia5230_P-content.png);
} 
} 

/* ----- ----- OnePlus3 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 854 x 480 ) ------ ----*/ 

@media only screen
and (min-device-width: 479.5px)
and (max-device-width: 480.5px)
and (min-device-height: 853.5px)
and (max-device-height: 854.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 848.5px;
width: 480px;
} 

.demo-iframe {
height: 847.5px;
width: 479px;
background-image: url(../img/media-queries/OnePlus3_P.png);
} 

.demo-emby-div { 
height: 848.5px;
width: 480px;

background-image: url(../img/demo-content/emby/OnePlus3_P-content.png);
} 
} 

/* ----- ----- Pixel : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 739 x 416 ) ------ ----*/ 

@media only screen
and (min-device-width: 415.5px)
and (max-device-width: 416.5px)
and (min-device-height: 738.5px)
and (max-device-height: 739.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 733.5px;
width: 416px;
} 

.demo-iframe {
height: 732.5px;
width: 415px;
background-image: url(../img/media-queries/Pixel_P.png);
} 

.demo-emby-div { 
height: 733.5px;
width: 416px;

background-image: url(../img/demo-content/emby/Pixel_P-content.png);
} 
} 

/* ----- ----- PixelXL : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2560 x 1440 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 732 x 412 ) ------ ----*/ 

@media only screen
and (min-device-width: 411.5px)
and (max-device-width: 412.5px)
and (min-device-height: 731.5px)
and (max-device-height: 732.5px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 726.5px;
width: 412px;
} 

.demo-iframe {
height: 725.5px;
width: 411px;
background-image: url(../img/media-queries/PixelXL_P.png);
} 

.demo-emby-div { 
height: 726.5px;
width: 412px;

background-image: url(../img/demo-content/emby/PixelXL_P-content.png);
} 
} 

/* ----- ----- PopularDevices1 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1800 x 1440 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1440 x 1152 ) ------ ----*/ 

@media only screen
and (min-device-width: 1151.5px)
and (max-device-width: 1152.5px)
and (min-device-height: 1439.5px)
and (max-device-height: 1440.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1434.5px;
width: 1152px;
} 

.demo-iframe {
height: 1433.5px;
width: 1151px;
background-image: url(../img/media-queries/PopularDevices1_P.png);
} 

.demo-emby-div { 
height: 1434.5px;
width: 1152px;

background-image: url(../img/demo-content/emby/PopularDevices1_P-content.png);
} 
} 

/* ----- ----- PopularDevices2 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2048 x 1280 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 512 x 320 ) ------ ----*/ 

@media only screen
and (min-device-width: 319.5px)
and (max-device-width: 320.5px)
and (min-device-height: 511.5px)
and (max-device-height: 512.5px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 506.5px;
width: 320px;
} 

.demo-iframe {
height: 505.5px;
width: 319px;
background-image: url(../img/media-queries/PopularDevices2_P.png);
} 

.demo-emby-div { 
height: 506.5px;
width: 320px;

background-image: url(../img/demo-content/emby/PopularDevices2_P-content.png);
} 
} 

/* ----- ----- PowerBookG4 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1280 x 854 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1279 x 854 ) ------ ----*/ 

@media only screen
and (min-device-width: 853.5px)
and (max-device-width: 854.5px)
and (min-device-height: 1278.5px)
and (max-device-height: 1279.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1273.5px;
width: 854px;
} 

.demo-iframe {
height: 1272.5px;
width: 853px;
background-image: url(../img/media-queries/PowerBookG4_P.png);
} 

.demo-emby-div { 
height: 1273.5px;
width: 854px;

background-image: url(../img/demo-content/emby/PowerBookG4_P-content.png);
} 
} 

/* ----- ----- SonyVAIO-P : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1600 x 768 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 800 x 384 ) ------ ----*/ 

@media only screen
and (min-device-width: 383.5px)
and (max-device-width: 384.5px)
and (min-device-height: 799.5px)
and (max-device-height: 800.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 794.5px;
width: 384px;
} 

.demo-iframe {
height: 793.5px;
width: 383px;
background-image: url(../img/media-queries/SonyVAIO-P_P.png);
} 

.demo-emby-div { 
height: 794.5px;
width: 384px;

background-image: url(../img/demo-content/emby/SonyVAIO-P_P-content.png);
} 
} 

/* ----- ----- SunWorkstation : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1152 x 720 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 576 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 575.5px)
and (max-device-height: 576.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 570.5px;
width: 360px;
} 

.demo-iframe {
height: 569.5px;
width: 359px;
background-image: url(../img/media-queries/SunWorkstation_P.png);
} 

.demo-emby-div { 
height: 570.5px;
width: 360px;

background-image: url(../img/demo-content/emby/SunWorkstation_P-content.png);
} 
} 

/* ----- ----- Surface3 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1280 x 720 ) ------ ----*/ 

@media only screen
and (min-device-width: 719.5px)
and (max-device-width: 720.5px)
and (min-device-height: 1279.5px)
and (max-device-height: 1280.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1274.5px;
width: 720px;
} 

.demo-iframe {
height: 1273.5px;
width: 719px;
background-image: url(../img/media-queries/Surface3_P.png);
} 

.demo-emby-div { 
height: 1274.5px;
width: 720px;

background-image: url(../img/demo-content/emby/Surface3_P-content.png);
} 
} 

/* ----- ----- TesselarXGA : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1440 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 1881 x 1411 ) ------ ----*/ 

@media only screen
and (min-device-width: 1410.5px)
and (max-device-width: 1411.5px)
and (min-device-height: 1880.5px)
and (max-device-height: 1881.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1875.5px;
width: 1411px;
} 

.demo-iframe {
height: 1874.5px;
width: 1410px;
background-image: url(../img/media-queries/TesselarXGA _P.png);
} 

.demo-emby-div { 
height: 1875.5px;
width: 1411px;

background-image: url(../img/demo-content/emby/TesselarXGA _P-content.png);
} 
} 

/* ----- ----- WideSVGA : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1024 x 600 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 984 x 577 ) ------ ----*/ 

@media only screen
and (min-device-width: 576.5px)
and (max-device-width: 577.5px)
and (min-device-height: 983.5px)
and (max-device-height: 984.5px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 978.5px;
width: 577px;
} 

.demo-iframe {
height: 977.5px;
width: 576px;
background-image: url(../img/media-queries/TesselarXGA _P.png);
} 

.demo-emby-div { 
height: 978.5px;
width: 577px;

background-image: url(../img/demo-content/emby/TesselarXGA _P-content.png);
} 
} 

/* ----- ----- WUXGA : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 1920 x 1200 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 640 x 400 ) ------ ----*/ 

@media only screen
and (min-device-width: 399.5px)
and (max-device-width: 400.5px)
and (min-device-height: 639.5px)
and (max-device-height: 640.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 400px;
} 

.demo-iframe {
height: 633.5px;
width: 399px;
background-image: url(../img/media-queries/WUXGA_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 400px;

background-image: url(../img/demo-content/emby/WUXGA_P-content.png);
} 
} 

/* ----- ----- XiaomiMiMIX2 : ( portrait ) ------ ----*/ 
/* ----- ----- PHYSICAL RESOLUTION: ( 2160 x 1080 ) ------ ----*/ 
/* ----- ----- LOGICAL RESOLUTION: ( 720 x 360 ) ------ ----*/ 

@media only screen
and (min-device-width: 359.5px)
and (max-device-width: 360.5px)
and (min-device-height: 719.5px)
and (max-device-height: 720.5px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 714.5px;
width: 360px;
} 

.demo-iframe {
height: 713.5px;
width: 359px;
background-image: url(../img/media-queries/XiaomiMiMIX2_P.png);
} 

.demo-emby-div { 
height: 714.5px;
width: 360px;

background-image: url(../img/demo-content/emby/XiaomiMiMIX2_P-content.png);
} 
} 
