
/* Last Modified: June 13, 2018 - 800 hours...ish */ 

/* ----- ----- Iphone4_P ------ ----*/ 

@media only screen
and (min-device-width: 315px)
and (max-device-width: 325px)
and (min-device-height: 475px)
and (max-device-height: 485px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 474.5px;
width: 320px;
} 

.demo-iframe {
height: 473.5px;
width: 319px;
background-image: url(../img/media-queries/Iphone4_P.png);
} 

.demo-emby-div { 
height: 474.5px;
width: 320px;

background-image: url(../img/demo-content/emby/Iphone4_P-content.png);
} 
} 

/* ----- ----- Iphone5_P ------ ----*/ 

@media only screen
and (min-device-width: 634.37px)
and (max-device-width: 644.37px)
and (min-device-height: 1129.87px)
and (max-device-height: 1139.87px)
and (-webkit-device-pixel-ratio: 1.1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1129.4px;
width: 639.4px;
} 

.demo-iframe {
height: 1128.4px;
width: 638.4px;
background-image: url(../img/media-queries/Iphone5_P.png);
} 

.demo-emby-div { 
height: 1129.4px;
width: 639.4px;

background-image: url(../img/demo-content/emby/Iphone5_P-content.png);
} 
} 

/* ----- ----- GalaxyS3andHTC8X_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS3andHTC8X_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS3andHTC8X_P-content.png);
} 
} 
#REF!

/* ----- ----- Iphone66s7and8_P ------ ----*/ 

@media only screen
and (min-device-width: 745.76px)
and (max-device-width: 755.76px)
and (min-device-height: 1330.34px)
and (max-device-height: 1340.34px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1329.9px;
width: 750.8px;
} 

.demo-iframe {
height: 1328.9px;
width: 749.8px;
background-image: url(../img/media-queries/Iphone66s7and8_P.png);
} 

.demo-emby-div { 
height: 1329.9px;
width: 750.8px;

background-image: url(../img/demo-content/emby/Iphone66s7and8_P-content.png);
} 
} 

/* ----- ----- Iphone678+andHTC1_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/Iphone678+andHTC1_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/Iphone678+andHTC1_P-content.png);
} 
} 

/* ----- ----- GalaxyS45andNote3_P ------ ----*/ 

@media only screen
and (min-device-width: 427px)
and (max-device-width: 437px)
and (min-device-height: 763px)
and (max-device-height: 773px)
and (-webkit-device-pixel-ratio: 2.5)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 762.5px;
width: 432px;
} 

.demo-iframe {
height: 761.5px;
width: 431px;
background-image: url(../img/media-queries/GalaxyS45andNote3_P.png);
} 

.demo-emby-div { 
height: 762.5px;
width: 432px;

background-image: url(../img/demo-content/emby/GalaxyS45andNote3_P-content.png);
} 
} 

/* ----- ----- Pixel_P ------ ----*/ 

@media only screen
and (min-device-width: 410.39px)
and (max-device-width: 420.39px)
and (min-device-height: 733.47px)
and (max-device-height: 743.47px)
and (-webkit-device-pixel-ratio: 2.6)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 733px;
width: 415.4px;
} 

.demo-iframe {
height: 732px;
width: 414.4px;
background-image: url(../img/media-queries/Pixel_P.png);
} 

.demo-emby-div { 
height: 733px;
width: 415.4px;

background-image: url(../img/demo-content/emby/Pixel_P-content.png);
} 
} 
#REF!

/* ----- ----- IphoneX_P ------ ----*/ 

@media only screen
and (min-device-width: 370px)
and (max-device-width: 380px)
and (min-device-height: 807px)
and (max-device-height: 817px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 806.5px;
width: 375px;
} 

.demo-iframe {
height: 805.5px;
width: 374px;
background-image: url(../img/media-queries/IphoneX_P.png);
} 

.demo-emby-div { 
height: 806.5px;
width: 375px;

background-image: url(../img/demo-content/emby/IphoneX_P-content.png);
} 
} 

/* ----- ----- GalaxyS6_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS6_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS6_P-content.png);
} 
} 

/* ----- ----- PixelXL_P ------ ----*/ 

@media only screen
and (min-device-width: 406.43px)
and (max-device-width: 416.43px)
and (min-device-height: 726.43px)
and (max-device-height: 736.43px)
and (-webkit-device-pixel-ratio: 3.5)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 726px;
width: 411.5px;
} 

.demo-iframe {
height: 725px;
width: 410.5px;
background-image: url(../img/media-queries/PixelXL_P.png);
} 

.demo-emby-div { 
height: 726px;
width: 411.5px;

background-image: url(../img/demo-content/emby/PixelXL_P-content.png);
} 
} 

/* ----- ----- GalaxyS7_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS7_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS7_P-content.png);
} 
} 

/* ----- ----- GalaxyS2_P ------ ----*/ 

@media only screen
and (min-device-width: 475px)
and (max-device-width: 485px)
and (min-device-height: 795px)
and (max-device-height: 805px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 794.5px;
width: 480px;
} 

.demo-iframe {
height: 793.5px;
width: 479px;
background-image: url(../img/media-queries/GalaxyS2_P.png);
} 

.demo-emby-div { 
height: 794.5px;
width: 480px;

background-image: url(../img/demo-content/emby/GalaxyS2_P-content.png);
} 
} 
#REF!

/* ----- ----- DellMonitorIN1920_P ------ ----*/ 

@media only screen
and (min-device-width: 571.37px)
and (max-device-width: 581.37px)
and (min-device-height: 978.67px)
and (max-device-height: 988.67px)
and (-webkit-device-pixel-ratio: 1.1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 978.2px;
width: 576.4px;
} 

.demo-iframe {
height: 977.2px;
width: 575.4px;
background-image: url(../img/media-queries/DellMonitorIN1920_P.png);
} 

.demo-emby-div { 
height: 978.2px;
width: 576.4px;

background-image: url(../img/demo-content/emby/DellMonitorIN1920_P-content.png);
} 
} 

/* ----- ----- IpadandTFT_P ------ ----*/ 

@media only screen
and (min-device-width: 379px)
and (max-device-width: 389px)
and (min-device-height: 507px)
and (max-device-height: 517px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 506.5px;
width: 384px;
} 

.demo-iframe {
height: 505.5px;
width: 383px;
background-image: url(../img/media-queries/IpadandTFT_P.png);
} 

.demo-emby-div { 
height: 506.5px;
width: 384px;

background-image: url(../img/demo-content/emby/IpadandTFT_P-content.png);
} 
} 

/* ----- ----- PowerBookG4_P ------ ----*/ 

@media only screen
and (min-device-width: 848.15px)
and (max-device-width: 858.15px)
and (min-device-height: 1273.73px)
and (max-device-height: 1283.73px)
and (-webkit-device-pixel-ratio: 1.1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1273.3px;
width: 853.2px;
} 

.demo-iframe {
height: 1272.3px;
width: 852.2px;
background-image: url(../img/media-queries/PowerBookG4_P.png);
} 

.demo-emby-div { 
height: 1273.3px;
width: 853.2px;

background-image: url(../img/demo-content/emby/PowerBookG4_P-content.png);
} 
} 

/* ----- ----- WXGA-H_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/WXGA-H_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/WXGA-H_P-content.png);
} 
} 

/* ----- ----- SunWorkstation_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 571px)
and (max-device-height: 581px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 570.5px;
width: 360px;
} 

.demo-iframe {
height: 569.5px;
width: 359px;
background-image: url(../img/media-queries/SunWorkstation_P.png);
} 

.demo-emby-div { 
height: 570.5px;
width: 360px;

background-image: url(../img/demo-content/emby/SunWorkstation_P-content.png);
} 
} 

/* ----- ----- SonyVAIO-P_P ------ ----*/ 

@media only screen
and (min-device-width: 379px)
and (max-device-width: 389px)
and (min-device-height: 795px)
and (max-device-height: 805px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 794.5px;
width: 384px;
} 

.demo-iframe {
height: 793.5px;
width: 383px;
background-image: url(../img/media-queries/SonyVAIO-P_P.png);
} 

.demo-emby-div { 
height: 794.5px;
width: 384px;

background-image: url(../img/demo-content/emby/SonyVAIO-P_P-content.png);
} 
} 

/* ----- ----- HTCVive_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 395px)
and (max-device-height: 405px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 394.5px;
width: 360px;
} 

.demo-iframe {
height: 393.5px;
width: 359px;
background-image: url(../img/media-queries/HTCVive_P.png);
} 

.demo-emby-div { 
height: 394.5px;
width: 360px;

background-image: url(../img/demo-content/emby/HTCVive_P-content.png);
} 
} 

/* ----- ----- LenovoThinkpadX61_P ------ ----*/ 

@media only screen
and (min-device-width: 345px)
and (max-device-width: 355px)
and (min-device-height: 461.67px)
and (max-device-height: 471.67px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 461.2px;
width: 350px;
} 

.demo-iframe {
height: 460.2px;
width: 349px;
background-image: url(../img/media-queries/LenovoThinkpadX61_P.png);
} 

.demo-emby-div { 
height: 461.2px;
width: 350px;

background-image: url(../img/demo-content/emby/LenovoThinkpadX61_P-content.png);
} 
} 

/* ----- ----- 1080i_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 475px)
and (max-device-height: 485px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 474.5px;
width: 360px;
} 

.demo-iframe {
height: 473.5px;
width: 359px;
background-image: url(../img/media-queries/1080i_P.png);
} 

.demo-emby-div { 
height: 474.5px;
width: 360px;

background-image: url(../img/demo-content/emby/1080i_P-content.png);
} 
} 

/* ----- ----- LenovoThinkpadT60_P ------ ----*/ 

@media only screen
and (min-device-width: 395px)
and (max-device-width: 405px)
and (min-device-height: 528.34px)
and (max-device-height: 538.34px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 527.9px;
width: 400px;
} 

.demo-iframe {
height: 526.9px;
width: 399px;
background-image: url(../img/media-queries/LenovoThinkpadT60_P.png);
} 

.demo-emby-div { 
height: 527.9px;
width: 400px;

background-image: url(../img/demo-content/emby/LenovoThinkpadT60_P-content.png);
} 
} 

/* ----- ----- FullHD_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/FullHD_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/FullHD_P-content.png);
} 
} 

/* ----- ----- DCI2K_P ------ ----*/ 

@media only screen
and (min-device-width: 1072.85px)
and (max-device-width: 1082.85px)
and (min-device-height: 2038.92px)
and (max-device-height: 2048.92px)
and (-webkit-device-pixel-ratio: 1.1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 2038.5px;
width: 1077.9px;
} 

.demo-iframe {
height: 2037.5px;
width: 1076.9px;
background-image: url(../img/media-queries/DCI2K_P.png);
} 

.demo-emby-div { 
height: 2038.5px;
width: 1077.9px;

background-image: url(../img/demo-content/emby/DCI2K_P-content.png);
} 
} 

/* ----- ----- WUXGA_P ------ ----*/ 

@media only screen
and (min-device-width: 395px)
and (max-device-width: 405px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 400px;
} 

.demo-iframe {
height: 633.5px;
width: 399px;
background-image: url(../img/media-queries/WUXGA_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 400px;

background-image: url(../img/demo-content/emby/WUXGA_P-content.png);
} 
} 

/* ----- ----- XiaomiMiMIX2_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 715px)
and (max-device-height: 725px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 714.5px;
width: 360px;
} 

.demo-iframe {
height: 713.5px;
width: 359px;
background-image: url(../img/media-queries/XiaomiMiMIX2_P.png);
} 

.demo-emby-div { 
height: 714.5px;
width: 360px;

background-image: url(../img/demo-content/emby/XiaomiMiMIX2_P-content.png);
} 
} 

/* ----- ----- Surface3_P ------ ----*/ 

@media only screen
and (min-device-width: 715px)
and (max-device-width: 725px)
and (min-device-height: 1275px)
and (max-device-height: 1285px)
and (-webkit-device-pixel-ratio: 1.5)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1274.5px;
width: 720px;
} 

.demo-iframe {
height: 1273.5px;
width: 719px;
background-image: url(../img/media-queries/Surface3_P.png);
} 

.demo-emby-div { 
height: 1274.5px;
width: 720px;

background-image: url(../img/demo-content/emby/Surface3_P-content.png);
} 
} 

/* ----- ----- HitachiCM821F_P ------ ----*/ 

@media only screen
and (min-device-width: 600.22px)
and (max-device-width: 610.22px)
and (min-device-height: 801.96px)
and (max-device-height: 811.96px)
and (-webkit-device-pixel-ratio: 2.3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 801.5px;
width: 605.3px;
} 

.demo-iframe {
height: 800.5px;
width: 604.3px;
background-image: url(../img/media-queries/HitachiCM821F_P.png);
} 

.demo-emby-div { 
height: 801.5px;
width: 605.3px;

background-image: url(../img/demo-content/emby/HitachiCM821F_P-content.png);
} 
} 

/* ----- ----- PopularDevices1_P ------ ----*/ 

@media only screen
and (min-device-width: 1147px)
and (max-device-width: 1157px)
and (min-device-height: 1435px)
and (max-device-height: 1445px)
and (-webkit-device-pixel-ratio: 1.3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1434.5px;
width: 1152px;
} 

.demo-iframe {
height: 1433.5px;
width: 1151px;
background-image: url(../img/media-queries/PopularDevices1_P.png);
} 

.demo-emby-div { 
height: 1434.5px;
width: 1152px;

background-image: url(../img/demo-content/emby/PopularDevices1_P-content.png);
} 
} 

/* ----- ----- AlienwareCurvedDisplay_P ------ ----*/ 

@media only screen
and (min-device-width: 445px)
and (max-device-width: 455px)
and (min-device-height: 1435px)
and (max-device-height: 1445px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1434.5px;
width: 450px;
} 

.demo-iframe {
height: 1433.5px;
width: 449px;
background-image: url(../img/media-queries/AlienwareCurvedDisplay_P.png);
} 

.demo-emby-div { 
height: 1434.5px;
width: 450px;

background-image: url(../img/demo-content/emby/AlienwareCurvedDisplay_P-content.png);
} 
} 

/* ----- ----- PopularDevices2_P ------ ----*/ 

@media only screen
and (min-device-width: 315px)
and (max-device-width: 325px)
and (min-device-height: 507px)
and (max-device-height: 517px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 506.5px;
width: 320px;
} 

.demo-iframe {
height: 505.5px;
width: 319px;
background-image: url(../img/media-queries/PopularDevices2_P.png);
} 

.demo-emby-div { 
height: 506.5px;
width: 320px;

background-image: url(../img/demo-content/emby/PopularDevices2_P-content.png);
} 
} 

/* ----- ----- ChromebookPixel_P ------ ----*/ 

@media only screen
and (min-device-width: 845px)
and (max-device-width: 855px)
and (min-device-height: 1275px)
and (max-device-height: 1285px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1274.5px;
width: 850px;
} 

.demo-iframe {
height: 1273.5px;
width: 849px;
background-image: url(../img/media-queries/ChromebookPixel_P.png);
} 

.demo-emby-div { 
height: 1274.5px;
width: 850px;

background-image: url(../img/demo-content/emby/ChromebookPixel_P-content.png);
} 
} 

/* ----- ----- GalaxyTab10_P ------ ----*/ 

@media only screen
and (min-device-width: 795px)
and (max-device-width: 805px)
and (min-device-height: 1275px)
and (max-device-height: 1285px)
and (-webkit-device-pixel-ratio: 1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1274.5px;
width: 800px;
} 

.demo-iframe {
height: 1273.5px;
width: 799px;
background-image: url(../img/media-queries/GalaxyTab10_P.png);
} 

.demo-emby-div { 
height: 1274.5px;
width: 800px;

background-image: url(../img/demo-content/emby/GalaxyTab10_P-content.png);
} 
} 

/* ----- ----- Nexus9_P ------ ----*/ 

@media only screen
and (min-device-width: 1019px)
and (max-device-width: 1029px)
and (min-device-height: 763px)
and (max-device-height: 773px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 762.5px;
width: 1024px;
} 

.demo-iframe {
height: 761.5px;
width: 1023px;
background-image: url(../img/media-queries/Nexus9_P.png);
} 

.demo-emby-div { 
height: 762.5px;
width: 1024px;

background-image: url(../img/demo-content/emby/Nexus9_P-content.png);
} 
} 

/* ----- ----- Nexus7_P ------ ----*/ 

@media only screen
and (min-device-width: 595px)
and (max-device-width: 605px)
and (min-device-height: 955px)
and (max-device-height: 965px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 954.5px;
width: 600px;
} 

.demo-iframe {
height: 953.5px;
width: 599px;
background-image: url(../img/media-queries/Nexus7_P.png);
} 

.demo-emby-div { 
height: 954.5px;
width: 600px;

background-image: url(../img/demo-content/emby/Nexus7_P-content.png);
} 
} 

/* ----- ----- GalaxyS7Edge_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS7Edge_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS7Edge_P-content.png);
} 
} 

/* ----- ----- GalaxyS8-9+_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 735px)
and (max-device-height: 745px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 734.5px;
width: 360px;
} 

.demo-iframe {
height: 733.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS8-9+_P.png);
} 

.demo-emby-div { 
height: 734.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS8-9+_P-content.png);
} 
} 

/* ----- ----- OnePlus3_P ------ ----*/ 

@media only screen
and (min-device-width: 474.89px)
and (max-device-width: 484.89px)
and (min-device-height: 848.13px)
and (max-device-height: 858.13px)
and (-webkit-device-pixel-ratio: 2.3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 847.7px;
width: 479.9px;
} 

.demo-iframe {
height: 846.7px;
width: 478.9px;
background-image: url(../img/media-queries/OnePlus3_P.png);
} 

.demo-emby-div { 
height: 847.7px;
width: 479.9px;

background-image: url(../img/demo-content/emby/OnePlus3_P-content.png);
} 
} 

/* ----- ----- TesselarXGA _P ------ ----*/ 

@media only screen
and (min-device-width: 1405.39px)
and (max-device-width: 1415.39px)
and (min-device-height: 1875.51px)
and (max-device-height: 1885.51px)
and (-webkit-device-pixel-ratio: 1.1)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 1875.1px;
width: 1410.4px;
} 

.demo-iframe {
height: 1874.1px;
width: 1409.4px;
background-image: url(../img/media-queries/TesselarXGA _P.png);
} 

.demo-emby-div { 
height: 1875.1px;
width: 1410.4px;

background-image: url(../img/demo-content/emby/TesselarXGA _P-content.png);
} 
} 

/* ----- ----- LG G5_P ------ ----*/ 

@media only screen
and (min-device-width: 477.76px)
and (max-device-width: 487.76px)
and (min-device-height: 853.24px)
and (max-device-height: 863.24px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 852.8px;
width: 482.8px;
} 

.demo-iframe {
height: 851.8px;
width: 481.8px;
background-image: url(../img/media-queries/LG G5_P.png);
} 

.demo-emby-div { 
height: 852.8px;
width: 482.8px;

background-image: url(../img/demo-content/emby/LG G5_P-content.png);
} 
} 
