
/* Last Modified: June 13, 2018 - 000 hours...ish */ 
/* ----- ----- Iphone4_P ------ ----*/ 

@media only screen
and (min-device-width: 315px)
and (max-device-width: 325px)
and (min-device-height: 475px)
and (max-device-height: 485px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 474.5px;
width: 320px;
} 

.demo-iframe {
height: 473.5px;
width: 319px;
background-image: url(../img/media-queries/Iphone4_P.png);
} 

.demo-emby-div { 
height: 474.5px;
width: 320px;

background-image: url(../img/demo-content/emby/Iphone4_P-content.png);
} 
} 
/* ----- ----- Iphone5_P ------ ----*/ 

@media only screen
and (min-device-width: 315px)
and (max-device-width: 325px)
and (min-device-height: 563px)
and (max-device-height: 573px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 562.5px;
width: 320px;
} 

.demo-iframe {
height: 561.5px;
width: 319px;
background-image: url(../img/media-queries/Iphone5_P.png);
} 

.demo-emby-div { 
height: 562.5px;
width: 320px;

background-image: url(../img/demo-content/emby/Iphone5_P-content.png);
} 
} 
/* ----- ----- Iphone678_P ------ ----*/ 

@media only screen
and (min-device-width: 370px)
and (max-device-width: 380px)
and (min-device-height: 662px)
and (max-device-height: 672px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 661.5px;
width: 375px;
} 

.demo-iframe {
height: 660.5px;
width: 374px;
background-image: url(../img/media-queries/Iphone678_P.png);
} 

.demo-emby-div { 
height: 661.5px;
width: 375px;

background-image: url(../img/demo-content/emby/Iphone678_P-content.png);
} 
} 
/* ----- ----- Iphone678+_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/Iphone678+_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/Iphone678+_P-content.png);
} 
} 
/* ----- ----- IphoneX_P ------ ----*/ 

@media only screen
and (min-device-width: 370px)
and (max-device-width: 380px)
and (min-device-height: 807px)
and (max-device-height: 817px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 806.5px;
width: 375px;
} 

.demo-iframe {
height: 805.5px;
width: 374px;
background-image: url(../img/media-queries/IphoneX_P.png);
} 

.demo-emby-div { 
height: 806.5px;
width: 375px;

background-image: url(../img/demo-content/emby/IphoneX_P-content.png);
} 
} 
/* ----- ----- GalaxyS3_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS3_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS3_P-content.png);
} 
} 
/* ----- ----- GalaxyS45+Note3_P ------ ----*/ 

@media only screen
and (min-device-width: 427px)
and (max-device-width: 437px)
and (min-device-height: 763px)
and (max-device-height: 773px)
and (-webkit-device-pixel-ratio: 2.5)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 762.5px;
width: 432px;
} 

.demo-iframe {
height: 761.5px;
width: 431px;
background-image: url(../img/media-queries/GalaxyS45+Note3_P.png);
} 

.demo-emby-div { 
height: 762.5px;
width: 432px;

background-image: url(../img/demo-content/emby/GalaxyS45+Note3_P-content.png);
} 
} 
/* ----- ----- GalaxyS6_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/GalaxyS6_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/GalaxyS6_P-content.png);
} 
} 
/* ----- ----- Pixel_P ------ ----*/ 

@media only screen
and (min-device-width: 410.39px)
and (max-device-width: 420.39px)
and (min-device-height: 733.47px)
and (max-device-height: 743.47px)
and (-webkit-device-pixel-ratio: 2.6)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 733px;
width: 415.4px;
} 

.demo-iframe {
height: 732px;
width: 414.4px;
background-image: url(../img/media-queries/Pixel_P.png);
} 

.demo-emby-div { 
height: 733px;
width: 415.4px;

background-image: url(../img/demo-content/emby/Pixel_P-content.png);
} 
} 
/* ----- ----- PixelXL_P ------ ----*/ 

@media only screen
and (min-device-width: 406.43px)
and (max-device-width: 416.43px)
and (min-device-height: 726.43px)
and (max-device-height: 736.43px)
and (-webkit-device-pixel-ratio: 3.5)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 726px;
width: 411.5px;
} 

.demo-iframe {
height: 725px;
width: 410.5px;
background-image: url(../img/media-queries/PixelXL_P.png);
} 

.demo-emby-div { 
height: 726px;
width: 411.5px;

background-image: url(../img/demo-content/emby/PixelXL_P-content.png);
} 
} 
/* ----- ----- HTC1_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/HTC1_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/HTC1_P-content.png);
} 
} 
/* ----- ----- HTC8X_P ------ ----*/ 

@media only screen
and (min-device-width: 355px)
and (max-device-width: 365px)
and (min-device-height: 635px)
and (max-device-height: 645px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) { 

.demo-iframe-container { 
height: 634.5px;
width: 360px;
} 

.demo-iframe {
height: 633.5px;
width: 359px;
background-image: url(../img/media-queries/HTC8X_P.png);
} 

.demo-emby-div { 
height: 634.5px;
width: 360px;

background-image: url(../img/demo-content/emby/HTC8X_P-content.png);
} 
} 
