
/* Last Modified: June 13, 2018 - 000 hours...ish */ 

/* ----- ----- Iphone4_L ------ ----*/ 

@media only screen
and (min-device-width: 475px)
and (max-device-width: 485px)
and (min-device-height: 315px)
and (max-device-height: 325px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 314.5px;
width: 480px;
} 

.demo-iframe {
height: 313.5px;
width: 479px;
background-image: url(../img/media-queries/Iphone4_L.png);
} 

.demo-emby-div { 
height: 314.5px;
width: 480px;
background-image: url(../img/demo-content/emby/Iphone4_L-content.png);
} 
} 


/* ----- ----- Iphone5_L ------ ----*/ 

@media only screen
and (min-device-width: 563px)
and (max-device-width: 573px)
and (min-device-height: 315px)
and (max-device-height: 325px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 314.5px;
width: 568px;
} 

.demo-iframe {
height: 313.5px;
width: 567px;
background-image: url(../img/media-queries/Iphone5_L.png);
} 

.demo-emby-div { 
height: 314.5px;
width: 568px;
background-image: url(../img/demo-content/emby/Iphone5_L-content.png);
} 
} 


/* ----- ----- Iphone678_L ------ ----*/ 

@media only screen
and (min-device-width: 662px)
and (max-device-width: 672px)
and (min-device-height: 370px)
and (max-device-height: 380px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 369.5px;
width: 667px;
} 

.demo-iframe {
height: 368.5px;
width: 666px;
background-image: url(../img/media-queries/Iphone678_L.png);
} 

.demo-emby-div { 
height: 369.5px;
width: 667px;
background-image: url(../img/demo-content/emby/Iphone678_L-content.png);
} 
} 


/* ----- ----- Iphone678+_L ------ ----*/ 

@media only screen
and (min-device-width: 635px)
and (max-device-width: 645px)
and (min-device-height: 355px)
and (max-device-height: 365px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 354.5px;
width: 640px;
} 

.demo-iframe {
height: 353.5px;
width: 639px;
background-image: url(../img/media-queries/Iphone678+_L.png);
} 

.demo-emby-div { 
height: 354.5px;
width: 640px;
background-image: url(../img/demo-content/emby/Iphone678+_L-content.png);
} 
} 


/* ----- ----- IphoneX_L ------ ----*/ 

@media only screen
and (min-device-width: 807px)
and (max-device-width: 817px)
and (min-device-height: 370px)
and (max-device-height: 380px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 369.5px;
width: 812px;
} 

.demo-iframe {
height: 368.5px;
width: 811px;
background-image: url(../img/media-queries/IphoneX_L.png);
} 

.demo-emby-div { 
height: 369.5px;
width: 812px;
background-image: url(../img/demo-content/emby/IphoneX_L-content.png);
} 
} 


/* ----- ----- GalaxyS3_L ------ ----*/ 

@media only screen
and (min-device-width: 635px)
and (max-device-width: 645px)
and (min-device-height: 355px)
and (max-device-height: 365px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 354.5px;
width: 640px;
} 

.demo-iframe {
height: 353.5px;
width: 639px;
background-image: url(../img/media-queries/GalaxyS3_L.png);
} 

.demo-emby-div { 
height: 354.5px;
width: 640px;
background-image: url(../img/demo-content/emby/GalaxyS3_L-content.png);
} 
} 


/* ----- ----- GalaxyS45+Note3_L ------ ----*/ 

@media only screen
and (min-device-width: 763px)
and (max-device-width: 773px)
and (min-device-height: 427px)
and (max-device-height: 437px)
and (-webkit-device-pixel-ratio: 2.5)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 426.5px;
width: 768px;
} 

.demo-iframe {
height: 425.5px;
width: 767px;
background-image: url(../img/media-queries/GalaxyS45+Note3_L.png);
} 

.demo-emby-div { 
height: 426.5px;
width: 768px;
background-image: url(../img/demo-content/emby/GalaxyS45+Note3_L-content.png);
} 
} 


/* ----- ----- GalaxyS6_L ------ ----*/ 

@media only screen
and (min-device-width: 635px)
and (max-device-width: 645px)
and (min-device-height: 355px)
and (max-device-height: 365px)
and (-webkit-device-pixel-ratio: 4)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 354.5px;
width: 640px;
} 

.demo-iframe {
height: 353.5px;
width: 639px;
background-image: url(../img/media-queries/GalaxyS6_L.png);
} 

.demo-emby-div { 
height: 354.5px;
width: 640px;
background-image: url(../img/demo-content/emby/GalaxyS6_L-content.png);
} 
} 


/* ----- ----- Pixel_L ------ ----*/ 

@media only screen
and (min-device-width: 733.47px)
and (max-device-width: 743.47px)
and (min-device-height: 410.39px)
and (max-device-height: 420.39px)
and (-webkit-device-pixel-ratio: 2.6)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 409.9px;
width: 738.5px;
} 

.demo-iframe {
height: 408.9px;
width: 737.5px;
background-image: url(../img/media-queries/Pixel_L.png);
} 

.demo-emby-div { 
height: 409.9px;
width: 738.5px;
background-image: url(../img/demo-content/emby/Pixel_L-content.png);
} 
} 


/* ----- ----- PixelXL_L ------ ----*/ 

@media only screen
and (min-device-width: 726.43px)
and (max-device-width: 736.43px)
and (min-device-height: 406.43px)
and (max-device-height: 416.43px)
and (-webkit-device-pixel-ratio: 3.5)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 406px;
width: 731.5px;
} 

.demo-iframe {
height: 405px;
width: 730.5px;
background-image: url(../img/media-queries/PixelXL_L.png);
} 

.demo-emby-div { 
height: 406px;
width: 731.5px;
background-image: url(../img/demo-content/emby/PixelXL_L-content.png);
} 
} 


/* ----- ----- HTC1_L ------ ----*/ 

@media only screen
and (min-device-width: 635px)
and (max-device-width: 645px)
and (min-device-height: 355px)
and (max-device-height: 365px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 354.5px;
width: 640px;
} 

.demo-iframe {
height: 353.5px;
width: 639px;
background-image: url(../img/media-queries/HTC1_L.png);
} 

.demo-emby-div { 
height: 354.5px;
width: 640px;
background-image: url(../img/demo-content/emby/HTC1_L-content.png);
} 
} 


/* ----- ----- HTC8X_L ------ ----*/ 

@media only screen
and (min-device-width: 635px)
and (max-device-width: 645px)
and (min-device-height: 355px)
and (max-device-height: 365px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) { 

.demo-iframe-container { 
height: 354.5px;
width: 640px;
} 

.demo-iframe {
height: 353.5px;
width: 639px;
background-image: url(../img/media-queries/HTC8X_L.png);
} 

.demo-emby-div { 
height: 354.5px;
width: 640px;
background-image: url(../img/demo-content/emby/HTC8X_L-content.png);
} 
} 

